:root {
  --accent-color: #E34F00;
  --darker: #1d1d1d;
}

.hero {
  background-image: url('hero.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 95vh;
  border-radius: 0;
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.bg-darker {
  background-color: var(--darker);
}

/* Button on index page */
.btn-index {
  background-color: var(--accent-color);
  color: #FFFFFF;
  border-color: #c62e1d;
}

/* Button on index page */
.btn-index:hover {
  background-color: #c62e1d;
  border-color: #c62e1d;
}