:root {
  --accent-color: #E34F00;
}

h1 {
  text-align: center;
}

.table {
  border: 1px solid black;
  margin: auto;
  margin-bottom: 20px;
  border-spacing: 0px;
}

.th {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.td {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form {
  background-color: #e8eae5;
}

.library-form {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

/* Input type for each form item */
input[type=text], input[type=email], input[type=date], input[type=number], textarea {
  width: 100%;
  float: right;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid #ccc;
  resize: vertical;
  box-sizing: border-box;
}

input[type=date] {
  font-size: 1em;
  font-family: Roboto;
  position: relative;
}

/* Creating an arrow for the calendar */
input[type="date"]:after {
  content: "\25BC";
  padding: 0 5px;
}

/* Changes arrow color when hovering */
input[type="date"]:hover:after {
  color: var(--accent-color);
}

/* Making the calendar appear when date input box is clicked */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

/* Adjusting increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

/* Adjusting clear button */
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

/* Select form option */
select {
  width: 100%;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid #ccc;
  resize: vertical;
  font-size: 1em;
  box-sizing: border-box;
}

label {
  padding: 5px;
  display: inline-block;
}

/* Submit button */
input[type=submit] {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border: 2px solid #a71806;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 1em;
}

input[type=submit]:hover {
  background-color: #c62e1d;
}